.root{
    /*-fx-background-color: green;*/
}

.popupWindow{
    -fx-background-color: beige;
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 3px;
}

.variables{
    -fx-border-radius: 2px;
    -fx-border-color: grey;
    -fx-border-width: 2px;
    -fx-background-color: beige;
}

.variable{
    -fx-font-family: Arial;
    -fx-spacing: 10px;
    -fx-padding: 5px;
}
.variable-text{

}

.showhide:hover {
    -fx-cursor: hand;
}

.new-menu-button{
    -fx-border-color: transparent;
    -fx-border-width: 1 1;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1.5em; /* 12 */
    -fx-text-fill: #828282;
    -fx-border-insets: 1 1 1 1, 0;
}

.new-menu-button:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-background-color: #d0b28b;
    -fx-text-fill: white;
}

.new-menu-button:hover {
    -fx-cursor: hand;
}

.new-menu-item{
    -fx-font-size: 1.1em;
}


.menu-button{
    -fx-max-height: 20px;
}

.split-pane-divider{
    -fx-background-color: grey;
}

.split-pane-divider:hover{
    -fx-background-color: black;
}
